@charset "UTF-8";
body { text-align: center; margin:0 auto; }
table { border-collapse: collapse; margin : auto;}
th, td { border: 1px solid lightgray; padding: 10px ; text-align: center; margin:0 auto}
th {	background-color: gray; color:white; }
ul {list-style-type:none; padding :0}